In [ ]:
import numpy as np
import pandas as pd
df = pd.read_csv('/Users/lorenzoreinoso/Downloads/conjunto_de_datos_defunciones_registradas_2023_csv/conjunto_de_datos/conjunto_de_datos_defunciones_registradas_2023_csv.CSV')

In [39]:
df.head()

,ent_regis,mun_regis,tloc_regis,loc_regis,ent_resid,mun_resid,tloc_resid,loc_resid,ent_ocurr,mun_ocurr,...,complicaro,dia_cert,mes_cert,anio_cert,maternas,ent_ocules,mun_ocules,loc_ocules,razon_m,dis_re_oax
0,1,1,15,1,32,44,5,1,1,1,...,9,18,12,2022,NaN,88,888,8888,0,999
1,1,1,15,1,1,1,15,1,1,1,...,9,12,12,2022,NaN,88,888,8888,0,999
2,1,1,15,1,1,1,15,1,1,1,...,9,17,12,2022,NaN,88,888,8888,0,999
3,1,1,15,1,1,1,15,1,1,1,...,9,1,1,2023,NaN,88,888,8888,0,999
4,1,1,15,1,14,53,1,7777,1,1,...,8,22,12,2022,NaN,88,888,8888,0,999

In [40]:
df.shape

(799869, 74)

In [41]:
df.columns

Index(['ent_regis', 'mun_regis', 'tloc_regis', 'loc_regis', 'ent_resid',
       'mun_resid', 'tloc_resid', 'loc_resid', 'ent_ocurr', 'mun_ocurr',
       'tloc_ocurr', 'loc_ocurr', 'causa_def', 'cod_adicio', 'lista_mex',
       'sexo', 'ent_nac', 'afromex', 'conindig', 'lengua', 'cve_lengua',
       'nacionalid', 'nacesp_cve', 'edad', 'sem_gest', 'gramos', 'dia_ocurr',
       'mes_ocurr', 'anio_ocur', 'dia_regis', 'mes_regis', 'anio_regis',
       'dia_nacim', 'mes_nacim', 'anio_nacim', 'cond_act', 'ocupacion',
       'escolarida', 'edo_civil', 'tipo_defun', 'ocurr_trab', 'lugar_ocur',
       'par_agre', 'vio_fami', 'asist_medi', 'cirugia', 'natviole',
       'necropsia', 'usonecrops', 'encefalica', 'donador', 'sitio_ocur',
       'cond_cert', 'derechohab', 'embarazo', 'rel_emba', 'horas', 'minutos',
       'capitulo', 'grupo', 'lista1', 'gr_lismex', 'area_ur', 'edad_agru',
       'complicaro', 'dia_cert', 'mes_cert', 'anio_cert', 'maternas',
       'ent_ocules', 'mun_ocules', 'loc_ocules', 'razon_m', 'dis_re_oax'],
      dtype='object')

In [42]:
def get_values(df, column, catalog):
    # First merge to get the descriptions
    df_cat = pd.read_csv(f"/Users/lorenzoreinoso/Documents/defunciones_23_ML_P2/catalogos/{catalog}")
    df = df.merge(
    df_cat,
    left_on=column,
    right_on="CVE",
    how="left")
    df[column] = df['DESCRIP']
    df = df.drop(['CVE', 'DESCRIP'], axis=1)
    return df

In [43]:
df["dis_re_oax"].value_counts()

dis_re_oax
999    772391
919      5632
906      3059
929      2168
928      2148
902      1292
922      1276
921      1222
904      1068
930      1010
920       839
914       790
916       787
926       729
911       558
915       535
925       476
910       467
908       434
923       377
918       372
905       359
924       283
913       255
912       251
907       230
901       227
909       218
917       205
927       135
903        76
Name: count, dtype: int64

In [44]:
df = get_values(df, "embarazo", "relacion_con_embarazo.csv")
df["embarazo"].value_counts()

embarazo
No aplica                          455674
No especificada                    312396
No tuvieron relación las causas       853
Si tuvieron relación las causas       244
Name: count, dtype: int64

In [45]:
df = get_values(df, "vio_fami", "violencia_familiar.csv")
df["vio_fami"].value_counts()

vio_fami
No aplica cuando no es homicidio    767617
No especificado                      32122
Sí                                      86
No                                      44
Name: count, dtype: int64

In [46]:
df = get_values(df, "usonecrops", "uso_necropsia.csv")
df["usonecrops"].value_counts()

usonecrops
No aplica          710666
Sí                  78757
No especificada      9276
No                   1170
Name: count, dtype: int64

In [47]:
df = get_values(df, "tloc_regis", "tamaคo_localidad.csv")
df["tloc_regis"].value_counts()

tloc_regis
500 000 a 999 999 habitantes        186016
250 000 a 499 999 habitantes         89887
100 000 a 249 999 habitantes         83988
1 000 000 a 1 499 999 habitantes     68701
1 500 000 y más habitantes           55884
5 000 a 9 999 habitantes             46169
2 500 a 4 999 habitantes             40026
10 000 a 14 999 habitantes           33219
20 000 a 29 999 habitantes           30035
30 000 a 39 999 habitantes           29189
1 000 a 1 999 habitantes             27804
50 000 a 74 999 habitantes           26374
15 000 a 19 999 habitantes           25346
75 000 a 99 999 habitantes           19287
40 000 a 49 999 habitantes           15831
1 a 999 habitantes                   13804
2 000 a 2 499  habitantes             8309
Name: count, dtype: int64

In [48]:
df = get_values(df, "tloc_resid", "tamaคo_localidad.csv")
df["tloc_resid"].value_counts()

tloc_resid
500 000 a 999 999 habitantes        128617
1 a 999 habitantes                   95856
250 000 a 499 999 habitantes         93257
100 000 a 249 999 habitantes         64002
1 500 000 y más habitantes           62511
1 000 000 a 1 499 999 habitantes     46655
5 000 a 9 999 habitantes             44014
1 000 a 1 999 habitantes             42634
2 500 a 4 999 habitantes             39844
10 000 a 14 999 habitantes           27475
20 000 a 29 999 habitantes           25486
30 000 a 39 999 habitantes           25440
50 000 a 74 999 habitantes           23490
15 000 a 19 999 habitantes           21028
75 000 a 99 999 habitantes           18200
40 000 a 49 999 habitantes           15874
2 000 a 2 499  habitantes            13296
No especificado                      12190
Name: count, dtype: int64

In [49]:
df = get_values(df, "tloc_ocurr", "tamaคo_localidad.csv")
df["tloc_ocurr"].value_counts()

tloc_ocurr
500 000 a 999 999 habitantes        146071
250 000 a 499 999 habitantes        115528
100 000 a 249 999 habitantes         77426
1 a 999 habitantes                   71541
1 500 000 y más habitantes           66875
1 000 000 a 1 499 999 habitantes     59652
5 000 a 9 999 habitantes             32733
1 000 a 1 999 habitantes             31394
2 500 a 4 999 habitantes             30333
30 000 a 39 999 habitantes           26366
50 000 a 74 999 habitantes           25129
20 000 a 29 999 habitantes           22914
10 000 a 14 999 habitantes           21551
15 000 a 19 999 habitantes           20158
75 000 a 99 999 habitantes           19605
40 000 a 49 999 habitantes           15913
2 000 a 2 499  habitantes            12066
No especificado                       4614
Name: count, dtype: int64

In [50]:
df = get_values(df, "sitio_ocur", "sitio_ocurrencia.csv")
df["sitio_ocur"].value_counts()

sitio_ocur
Hogar                                         374623
IMSS                                          144835
Secretaría de salud                            99391
Otro lugar                                     42799
Unidad médica privada                          35299
Vía pública                                    34489
ISSSTE                                         26434
No especificado                                16815
Otra unidad pública                            10869
IMSS BIENESTAR                                  7833
PEMEX                                           2841
Secretaría de la Defensa Nacional (SEDENA)      2810
Secretaría de Marina (SEMAR)                     831
Name: count, dtype: int64

In [51]:
df = get_values(df, "sexo", "sexo.csv")
df["sexo"].value_counts()

sexo
Hombre             446734
Mujer              352629
No especificado       506
Name: count, dtype: int64

In [52]:
df = get_values(df, "rel_emba", "relacion_con_embarazo.csv")
df["rel_emba"].value_counts()

rel_emba
No aplica                          455674
No especificada                    326379
No tuvieron relación las causas     17429
Si tuvieron relación las causas       387
Name: count, dtype: int64

In [53]:
df = get_values(df, "razon_m", "razon_materna.csv")
df["razon_m"].value_counts()

razon_m
Contribuye al cálculo de la Razón de Mortalidad Materna    584
Name: count, dtype: int64

In [54]:
df = get_values(df, "tipo_defun", "presunta_defuncion_violenta.csv")
df["tipo_defun"].value_counts()

tipo_defun
Enfermedad (Muerte natural)        715751
Accidente                           40282
Homicidio (Agresión)                32253
Suicidio (Lesión autoinfligida)      9072
Se ignora                            2482
Intervención legale                    29
Name: count, dtype: int64

In [55]:
df = get_values(df, "par_agre", "parentesco_agresor.csv")
df["par_agre"].value_counts()

par_agre
No hubo violencia       767616
No especificado          32001
Ninguno                    122
Sin parentesco              29
Concubino, compañero        16
Hermano                     15
Padre                       10
Hijo                         9
Esposo, Cónyuge              8
Ex esposo                    8
Sobrino                      6
Conocido                     5
Cuñado                       3
Madre                        3
Otro familiar                3
Amigo                        2
Padrastro                    2
Concubina, compañera         2
Primo                        2
Novio                        2
Esposa, Cónyuge              1
Sobrina                      1
Yerno                        1
Tío                          1
Ahijado                      1
Name: count, dtype: int64

In [56]:
df = get_values(df, "nacesp_cve", "paises.csv")
df["nacesp_cve"].value_counts()

nacesp_cve
Mexicana (no especificado de Entidad Federativa)    783751
No especificado                                      10612
Estados Unidos de América                             2302
República de Guatemala                                 400
Canadá                                                 344
                                                     ...
República de Albania                                     1
República Kirguisa                                       1
República Islámica de Afganistán                         1
República de Irak                                        1
República de Angola                                      1
Name: count, Length: 98, dtype: int64

In [57]:
df = get_values(df, "ocurr_trab", "ocurrio_trabajo.csv")
df["ocurr_trab"].value_counts()

ocurr_trab
No aplica para muerte natural y menores de 5 años    717363
No                                                    42692
No especificado                                       32001
Sí                                                     7813
Name: count, dtype: int64

In [58]:
df = get_values(df, "ocupacion", "ocupacion.csv")
df["ocupacion"].value_counts()

ocupacion
No trabaja                                                                                                                               425630
Trabajadores en actividades agrícolas y ganaderas                                                                                         75062
Comerciantes en establecimientos                                                                                                          41174
No especificada                                                                                                                           40496
Ocupaciones insuficientemente especificadas                                                                                               39777
No aplica a menores de 5 años                                                                                                             23594
Trabajadores en la extracción y la edificación de construcciones                                                                          21557
Conductores de transporte y de maquinaria móvil                                                                                           17112
Otros trabajadores en actividades elementales y de apoyo, no clasificados anteriormente                                                   15485
Otros trabajadores artesanales no clasificados anteriormente                                                                              14479
Auxiliares y técnicos en ciencias exactas, biológicas, ingeniería, informática y en telecomunicaciones                                     8932
Profesionistas en ciencias económico-administrativas, ciencias sociales, humanistas y en artes                                             7710
Profesores y especialistas en docencia                                                                                                     7384
Trabajadores en servicios de protección y vigilancia                                                                                       6945
Artesanos y trabajadores en la elaboración de productos de madera, papel, textiles y de cuero y piel                                       5956
Artesanos y trabajadores en el tratamiento y elaboración de productos de metal                                                             5380
Trabajadores domésticos, de limpieza, planchadores y otros trabajadores de limpieza                                                        4117
Supervisores de personal de apoyo administrativo, secretarias, capturistas, cajeros y trabajadores de control de archivo y transporte      3437
Investigadores y profesionistas en ciencias exactas, biológicas, ingeniería, informática y en telecomunicaciones                           3016
Trabajadores en la preparación y servicio de alimentos y bebidas, así como en servicios de esparcimiento y de hotelería                    2805
Médicos, enfermeras y otros especialistas en salud                                                                                         2571
Otros directores, funcionarios, gerentes, coordinadores y jefes de área, no clasificados anteriormente                                     2439
Empleados de ventas en establecimientos                                                                                                    2277
Otros profesionistas y técnicos no clasificados anteriormente                                                                              2259
Trabajadores en la elaboración y procesamiento de alimentos, bebidas y productos de tabaco                                                 2150
Otros trabajadores auxiliares en actividades administrativas, no clasificados anteriormente                                                2143
Enfermeras, técnicos en medicina y trabajadores de apoyo en salud                                                                          1946
Otros operadores de maquinaria industrial, ensambladores y conductores de transporte, no clasificados anteriormente                        1775
Auxiliares y técnicos en ciencias económico-administrativas, ciencias sociales, humanistas y en artes                                      1581
Trabajadores en cuidados personales y del hogar                                                                                            1543
Trabajadores en actividades pesqueras, forestales, caza y similares                                                                        1427
Trabajadores de apoyo en la minería, construcción e industria                                                                              1306
Operadores de instalaciones y maquinaria industrial                                                                                         963
Otros comerciantes, empleados en ventas y agentes de ventas en establecimientos, no clasificados anteriormente                              860
Artesanos y trabajadores en la elaboración de productos de cerámica, vidrio, azulejo y similares                                            539
Trabajadores de la Armada, Ejército y Fuerza Aérea                                                                                          458
Vendedores ambulantes                                                                                                                       420
Supervisores y trabajadores que brindan y manejan información                                                                               385
Auxiliares y técnicos en educación, instructores y capacitadores                                                                            334
Artesanos y trabajadores en la elaboración de productos de hule, caucho, plásticos y de sustancias químicas                                 286
Otros trabajadores en actividades agrícolas, ganaderas, forestales, caza y pesca, no clasificados anteriormente                             243
Ayudantes de conductores de transporte, conductores de transporte de tracción humana y animal y cargadores                                  228
Directores y gerentes en servicios financieros, legales, administrativos y sociales                                                         224
Directores y gerentes de ventas, restaurantes, hoteles y otros establecimientos                                                             202
Coordinadores y jefes de área en servicios financieros, administrativos y sociales                                                          175
Trabajadores de paquetería, de apoyo para espectáculos, mensajeros y repartidores de mercancías                                             167
Trabajadores de apoyo en actividades agropecuarias, forestales, pesca y caza                                                                166
Ayudantes en la preparación de alimentos                                                                                                    158
Funcionarios y altas autoridades de los sectores público, privado y social                                                                  152
Coordinadores y jefes de área en producción y tecnología                                                                                    119
Operadores de maquinaria agropecuaria y forestal                                                                                             80
Coordinadores y jefes de área de ventas, restaurantes, hoteles y otros establecimientos                                                      61
Directores y gerentes en producción, tecnología y transporte                                                                                 57
Busca trabajo                                                                                                                                51
Trabajadores en servicios de alquiler                                                                                                        51
Ensambladores y montadores de herramientas, maquinaria, productos metálicos y electrónicos                                                   25
Name: count, dtype: int64

In [59]:
df = get_values(df, "necropsia", "necropsia.csv")
df["necropsia"].value_counts()

necropsia
No                 567078
No especificada    141059
SÍ                  91732
Name: count, dtype: int64

In [60]:
df = get_values(df, "nacionalid", "nacionalidad.csv")
df["nacionalid"].value_counts()

nacionalid
Mexicana           783751
No especificada     10612
Extranjera           5506
Name: count, dtype: int64

In [61]:
df = get_values(df, "mes_cert", "mes.csv")
df["mes_cert"].value_counts()

mes_cert
Enero              77312
Diciembre          75377
Junio              69468
Noviembre          66393
Marzo              65362
Mayo               65221
Agosto             64814
Octubre            64483
Julio              64204
Febrero            63010
Septiembre         62198
Abril              61740
No especificado      287
Name: count, dtype: int64

In [62]:
df = get_values(df, "lugar_ocur", "lugar_ocurrencia.csv")
df["lugar_ocur"].value_counts()

lugar_ocur
No aplica para muerte natural               715751
Calle o carretera (vía pública)              36296
Se ignora                                    22481
Vivienda particular                          14218
Otro                                          7329
Granja (rancho o parcela)                     1307
Área comercial o de servicios                 1296
Área industrial (taller; fabrica u obra)       572
Escuela u oficina pública                      244
Vivienda colectiva                             238
Áreas deportivas                               137
Name: count, dtype: int64

In [63]:
df = get_values(df, "lista_mex", "lista_mexicana.csv")
df["lista_mex"].value_counts()

lista_mex
Infarto agudo del miocardio                  131203
Diabetes mellitus                            110059
Neumonía                                      33454
Agresiones (homicidios)                       32252
Otras enfermedades del hígado                 26883
                                              ...
Deformidades adquiridas de los miembros           1
Hidrocele y espermatocele                         1
Otras enfermedades debidas a espiroquetas         1
Fiebre paratifoidea                               1
Aborto espontáneo                                 1
Name: count, Length: 319, dtype: int64

In [64]:
df = get_values(df, "lista1", "lista1.csv")
df["lista1"].value_counts()

lista1
Enfermedades isquémicas del corazón    142764
Diabetes mellitus                      110059
Enfermedades del hígado                 40052
Enfermedades cerebrovasculares          34428
Neumonía                                33454
                                        ...
Enfermedades del ojo y sus anexos          25
Tétanos                                     4
Infeccion meningocócica                     2
Rabia                                       1
Paludismo (malaria)                         1
Name: count, Length: 84, dtype: int64

In [65]:
df = get_values(df, "cve_lengua", "lenguas.csv")
df["cve_lengua"].value_counts()

cve_lengua
No aplica                                   746696
No especificado                              11284
Náhuatl                                      10410
Maya                                          5386
Zapoteco                                      3560
                                             ...
Ayapaneco                                        1
Tepehuano insuficientemente especificado         1
Kiliwa                                           1
K’iche’                                          1
Cucapá                                           1
Name: count, Length: 63, dtype: int64

In [66]:
df = get_values(df, "lengua", "lengua_indigena.csv")
df["lengua"].value_counts()

lengua
No                               660550
Sí                                56588
Se ignora                         53612
No aplica a menores de 3 años     29119
Name: count, dtype: int64

In [67]:
df = get_values(df, "gr_lismex", "grupo_lista_mexicana.csv")
df["gr_lismex"].value_counts()

gr_lismex
AGRESIONES                                                                                                                                           32252
OTROS ACCIDENTES, INCLUSO LOS EFECTOS TARDIOS                                                                                                        17997
ACCIDENTES DE TRANSPORTE                                                                                                                             17280
LESIONES AUTOINFLIGIDAS INTENCIONALMENTE                                                                                                              9072
OTRA VIOLENCIA                                                                                                                                        2497
CAIDAS                                                                                                                                                2374
ENVENENAMIENTO ACCIDENTAL POR, Y EXPOSICION A SUSTANCIAS NOCIVAS                                                                                      1289
EXPOSICION AL HUMO, FUEGO Y LLAMAS                                                                                                                     708
CONTRATIEMPOS DURANTE LA ATENCION MEDICA, REACCIONES ANORMALES Y COMPLICACIONES ULTERIORES                                                             440
DROGAS, MEDICAMENTOS Y SUSTANCIAS BIOLOGICAS CAUSANTES DE EFECTOS ADVERSOS EN SU USO TERAPEUTICO                                                       187
SECUELAS DE LESIONES AUTOINFLIGIDAS, AGRESIONES Y EVENTOS DE INTENCION NO DETERMINADA, DE ATENCION MEDICA Y QUIRURGICA Y DE OTRAS CAUSAS EXTERNAS       22
Name: count, dtype: int64

In [68]:
df = get_values(df, "edo_civil", "estado_civil.csv")
df["edo_civil"].value_counts()

edo_civil
Casado(a)                         265146
Soltero(a)                        192552
Viudo(a)                          171938
Unión libre                        66909
No especificado                    47086
No aplica a menores de 12 años     27127
Divorciado(a)                      17920
Separado(a)                        11191
Name: count, dtype: int64

In [69]:
df = get_values(df, "escolarida", "escolaridad.csv")
df["escolarida"].value_counts()

escolarida
Primaria completa                         170988
Primaria incompleta                       166561
Sin escolaridad                           126459
Secundaria completa                       106041
Profesional                                70781
Bachillerato o preparatoria completo       61179
No especificado                            32611
No aplica a menores de 3 años              22207
Secundaria incompleta                      20182
Bachillerato o preparatoria incompleto     16327
Posgrado                                    5153
Preescolar                                  1380
Name: count, dtype: int64

In [70]:
df = get_values(df, "encefalica", "encefalica.csv")
df["encefalica"].value_counts()

encefalica
No                 432005
No especificada    319412
No aplica           36499
Sí                  11953
Name: count, dtype: int64

In [71]:
df = get_values(df, "edad_agru", "edad_agrupada.csv")
df["edad_agru"].value_counts()

edad_agru
De 75 a 79 años      82230
De 80 a 84 años      82200
De 70 a 74 años      77672
De 85 a 89 años      73394
De 65 a 69 años      72848
De 60 a 64 años      64494
De 55 a 59 años      53333
De 90 a 94 años      48321
De 50 a 54 años      43270
De 45 a 49 años      34552
De 40 a 44 años      26237
De 35 a 39 años      21700
De 30 a 34 años      19997
De 95 a 99 años      19535
Menores de un año    19345
De 25 a 29 años      17362
De 20 a 24 años      14409
De 15 a 19 años       9382
No  especificada      4490
De 100 a 104 años     4446
De 10 a 14 años       3311
De 5 a 9 años         2532
De un año             1877
De 2 años              985
De 3 años              752
De 4 años              635
De 105 a 109 años      470
De 110 a 114 años       73
De 115 a 119 años       14
De 120 y más años        3
Name: count, dtype: int64

In [72]:
df["edad"].value_counts()

edad
4082    16864
4080    16673
4078    16576
4077    16516
4079    16436
        ...
4120        3
2098        2
4117        2
4119        2
4116        1
Name: count, Length: 187, dtype: int64

In [73]:
df["donador"].value_counts()

donador
8    787916
2      9888
9      1593
1       472
Name: count, dtype: int64

In [76]:
df["embarazo"].value_counts()

embarazo
No aplica                          455674
No especificada                    312396
No tuvieron relación las causas       853
Si tuvieron relación las causas       244
Name: count, dtype: int64

In [74]:
df = get_values(df, "edad", "edad.csv")
df["edad"].value_counts()

edad
Ochenta y dos años                 16864
Ochenta años                       16673
Setenta y ocho años                16576
Setenta y siete años               16516
Setenta y nueve años               16436
                                   ...
Ciento veinte años                     3
Días no especificados                  2
Ciento diecisiete años                 2
Ciento diecinueve años                 2
Ciento dieciséis años                  1
Name: count, Length: 187, dtype: int64

In [75]:
df = get_values(df, "donador", "donador.csv")
df["donador"].value_counts()

donador
No aplica          787916
No                   9888
No especificada      1593
Sí                    472
Name: count, dtype: int64

In [77]:
df = get_values(df, "derechohab", "derechohabiencia.csv")
df["derechohab"].value_counts()

derechohab
Ninguna                                                                       312459
IMSS                                                                          277480
No especificada                                                               107955
ISSSTE                                                                         55765
Otra                                                                           20451
IMSS BIENESTAR                                                                 11794
PEMEX                                                                           5937
SEDENA                                                                          2880
 Instituto de Seguridad Social para las Fuerzas Armadas Mexicanas (ISSFAM)      2706
Reportado como equivalente al Seguro Popular                                    1282
SEMAR                                                                           1160
Name: count, dtype: int64

In [78]:
df = get_values(df, "conindig", "conind.csv")
df["conindig"].value_counts()

conindig
No                 665890
Sí                  53651
No especificado     43829
No aplica           36499
Name: count, dtype: int64

In [79]:
df = get_values(df, "cond_act", "condicion_actividad.csv")
df["cond_act"].value_counts()

cond_act
No                               425630
Sí                               310149
Se ignora                         40496
No aplica a menores de 5 años     23594
Name: count, dtype: int64

In [80]:
df = get_values(df, "complicaro", "complicaron_embarazo.csv")
df["complicaro"].value_counts()

complicaro
No aplica                     455674
No especificada               327092
No complicaron el embarazo     16677
Sí complicaron el embarazo       426
Name: count, dtype: int64

In [81]:
df = get_values(df, "cod_adicio", "codigo_adicional.csv")
df["cod_adicio"].value_counts()

cod_adicio
Traumatismo intracraneal, no especificado                                       14527
Asfixia                                                                         11711
Herida del tórax, parte no especificada                                          5085
Traumatismo cerebral difuso                                                      4762
Herida de otras partes de la cabeza                                              3414
                                                                                ...
Envenenamiento por otros antagonistas de las hormonas y los no especificados        1
Quemadura de otros órganos internos y de los no especificados                       1
Otros efectos especificados de causas externas                                      1
Herida de la vagina y de la vulva                                                   1
Quemadura que afecta la laringe y la tráquea con el pulmón                          1
Name: count, Length: 560, dtype: int64

In [82]:
df = get_values(df, "cirugia", "cirugia.csv")
df["cirugia"].value_counts()

cirugia
No especificada    713562
Sí                  47280
No aplica           36499
No                   2528
Name: count, dtype: int64

In [83]:
df = get_values(df, "cond_cert", "certificante.csv")
df["cond_cert"].value_counts()

cond_cert
Otro médico                      490025
Médico tratante                  140961
Médico legista                   109474
No especificada                   32670
Otro                              13291
Persona autorizada por la SSA      7771
Autoridad civil                    5677
Name: count, dtype: int64

In [84]:
df = get_values(df, "causa_def", "causa_defuncion.CSV")
df["causa_def"].value_counts()

causa_def
Infarto agudo del miocardio, sin otra especificación                                          130456
Diabetes mellitus no insulinodependiente, con otras complicaciones especificadas               34229
Neumonía, no especificada                                                                      27039
Diabetes mellitus no insulinodependiente, con complicaciones múltiples                         18392
Diabetes mellitus no insulinodependiente, con complicaciones renales                           16464
                                                                                               ...
Confinado o atrapado en un ambiente con bajo contenido de oxígeno en lugar no especificado         1
Aleteo auricular atípico                                                                           1
Disparo de rifle, escopeta y arma larga, de intención no determinada en granja                     1
Síndrome de Lesch-Nyhan                                                                            1
Displasia de la próstata                                                                           1
Name: count, Length: 4119, dtype: int64

In [85]:
df = get_values(df, "maternas", "causa_defuncion.CSV")
df["maternas"].value_counts()

maternas
Muerte por causa obstétrica indirecta que ocurre después de 42 días pero antes de un año del parto    69
Muerte por causa obstétrica directa que ocurre después de 42 días pero antes de un año del parto      48
Otras enfermedades especificadas y afecciones que complican el embarazo, el parto y el puerperio      47
Otras hemorragias postparto inmediatas                                                                47
Muerte por secuelas de causa obstétrica directa                                                       43
                                                                                                      ..
Trabajo de parto obstruido debido a otras presentaciones anormales del feto                            1
Atención materna por tumor del cuerpo del útero                                                        1
Preeclampsia leve a moderada                                                                           1
Hepatitis viral que complica el embarazo, el parto y el puerperio                                      1
Aborto espontáneo completo o no especificado, complicado por hemorragia excesiva o tardía              1
Name: count, Length: 93, dtype: int64

In [86]:
df = get_values(df, "asist_medi", "asistencia_medica.csv")
df["asist_medi"].value_counts()

asist_medi
Con asistencia médica    638183
Sin asistencia médica    110670
No especificada           51016
Name: count, dtype: int64

In [87]:
df = get_values(df, "area_ur", "area_urbana_rural.csv")
df["area_ur"].value_counts()

area_ur
Urbana             635893
Rural              151786
No especificada     12190
Name: count, dtype: int64

In [88]:
df = get_values(df, "afromex", "afromexi.csv")
df["afromex"].value_counts()

afromex
No                 710337
No especificado     45248
No aplica           36499
Sí                   7785
Name: count, dtype: int64

In [89]:
df = get_values(df, "natviole", "accidental_violenta.csv")
df["natviole"].value_counts()

natviole
No           685538
Sí            77832
No aplica     36499
Name: count, dtype: int64

In [91]:
df.head()

,ent_regis,mun_regis,tloc_regis,loc_regis,ent_resid,mun_resid,tloc_resid,loc_resid,ent_ocurr,mun_ocurr,...,complicaro,dia_cert,mes_cert,anio_cert,maternas,ent_ocules,mun_ocules,loc_ocules,razon_m,dis_re_oax
0,1,1,500 000 a 999 999 habitantes,1,32,44,5 000 a 9 999 habitantes,1,1,1,...,No especificada,18,Diciembre,2022,NaN,88,888,8888,NaN,999
1,1,1,500 000 a 999 999 habitantes,1,1,1,500 000 a 999 999 habitantes,1,1,1,...,No especificada,12,Diciembre,2022,NaN,88,888,8888,NaN,999
2,1,1,500 000 a 999 999 habitantes,1,1,1,500 000 a 999 999 habitantes,1,1,1,...,No especificada,17,Diciembre,2022,NaN,88,888,8888,NaN,999
3,1,1,500 000 a 999 999 habitantes,1,1,1,500 000 a 999 999 habitantes,1,1,1,...,No especificada,1,Enero,2023,NaN,88,888,8888,NaN,999
4,1,1,500 000 a 999 999 habitantes,1,14,53,1 a 999 habitantes,7777,1,1,...,No aplica,22,Diciembre,2022,NaN,88,888,8888,NaN,999

In [90]:
df.to_csv("defuncion_mex_23.csv",index=False)